nav a.nav-link.active {
  text-decoration: underline;
  color: white !important;
  font-style: italic;
  cursor: default;
  font-size: x-large;
}

footer {
  background-color:rgb(57, 48, 83);
}

.navbar {
  background-color:rgb(57, 48, 83) !important;
  font-weight: bold;
  font-size: large;
}

footer a {
  color: white;
  text-decoration: none;
}

body {
  background-color: rgb(99, 89, 133) !important;
}

.dropdown-item:active,
.dropdown-item.active,
.dropdown-item a.active {
	background-color: transparent !important;
  color: white !important;
  font-style: italic;
  text-decoration: underline;
  cursor: default;
  font-size: large;
  font-weight: bold;
}

.dropdown-menu{
  background-color: rgb(57, 48, 83) !important;
}

form{
  border-radius: 50px;
}

.cart_form{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.not_bold {
  font-weight: normal;
}

.login_register{
  color:blue !important;
}

/* .card_color{
  background-color: rgb(99, 89, 133) !important;
} */

.color {
  color: white;
}