nav a.nav-link.active {
  text-decoration: underline;
  color: black !important;
  font-style: italic;
  cursor: default;
}
footer {
  background-color: red;
}
.navbar {
  background-color: red !important;
  font-weight: bold;
}
footer a {
  color: black;
  text-decoration: none;
}
body {
  background-color: green !important;
}