nav a.nav-link.active {
  background-color: black;
  color: white !important;
  cursor: default;
}
footer {
  background-color: red;
}
.navbar {
  background-color: red !important;
  font-weight: bold;
}
footer a {
  color: black;
}
body {
  background-color: green !important;
}