<div class="container">
  <div class="row justify-content-center m-5">
    <form class="w-50 p-3" 
          style="border:1px solid #ccc"
          name="profile_form">
      <div class="mb-3">
        <h1 class="text-center text-info">
          <i class="fa-solid fa-id-badge"></i>
          {{$root.lang.data.profile}}
        </h1>
      </div>

      <!-- Név változtatása -->
      <div class="mb-3">
        <label for="name" 
               class="form-label">
          <i class="fa-solid fa-user"></i>
          {{$root.lang.data.fullName}}:
        </label>
        <input type="text" 
               class="form-control" 
               id="name" 
               ng-model="profile_data.nev">
      </div>

      <!-- Profile Picture -->
      <div class="row input-row mb-5">
        <div>
          <i class="fa-solid fa-image-portrait me-1"></i>
          <label for="profile-image">
            {{$root.lang.data.p_picture}}:
          </label>
        </div>
        <div class="col-11 col-md-7 position-relative" 
             style="height:100px;">
          <input id="profile-image" 
                 name="image" 
                 type="file" 
                 accept="image/*" 
                 class="form-control form-control d-none"
                 spellcheck="false" 
                 autocomplete="off" 
                 ng-model="helper.image" 
                 file-input 
                 ng-clear-icon='{"left":"160px"}'>
          <label for="profile-image">
            <div class="bg-img bg-img-cover overflow-hidden rounded-circle 
                        border d-flex align-items-center justify-content-center cursor-pointer" 
                 style="width:130px;height:130px;">
              <span class="text-center ext-muted" 
                    ng-show="!model.img && !model.gender">
                <i class="fa-solid fa-upload"></i><br>
                <span class="fs-sm">
                  Max: 64KB
                </span>
              </span>
            </div>
          </label>
        </div>
      </div>

      <!-- Ország változtatása -->
      <div class="mb-3">
        <label for="country" 
               class="form-label">
          <i class="fa-solid fa-flag"></i>
          {{$root.lang.data.country}}:
        </label>
        <input type="text"
               class="form-control" 
               id="country" 
               ng-model="profile.country"
               value={{profile_data.orszag}}>
      </div>

      <!-- Település változtatása -->
      <div class="mb-3">
        <label for="settlement" 
               class="form-label">
          <i class="fa-solid fa-location-dot"></i>
          {{$root.lang.data.settlement}}:
        </label>
        <input type="text" 
               class="form-control" 
               id="settlement" 
               ng-model="profile.settlement"
               value={{profile_data.telepules}}>
      </div>

      <!-- Lakcím bekérése -->
      <div class="mb-3">
        <label for="r_adress">
          <i class="fa-solid fa-location-pin"></i>
          {{$root.lang.data.rAdress}}:
        </label>
        <input type="text" 
               class="form-control" 
               id="r_adress"
               ng-model="profile.cim"
               value={{profile_data.cim}} 
               required>
      </div>

      <!-- Irányítószám változtatása -->
      <div class="mb-3 justify-content-center">
        <label for="postal_code" 
               class="form-label">
          <i class="fa-solid fa-signs-post"></i>
          {{$root.lang.data.postalCode}}:
        </label>
        <input type="text" 
               class="form-control" 
               id="postal_code" 
               style="max-width:120px;"
               ng-model="profile.postal_code"
               value={{profile_data.iranyitoszam}}>
      </div>

      <!-- Mentés (gomb) -->
      <button type="button" 
              class="btn btn-primary" 
              ng-disabled="profile_form.$invalid">
        <i class="fa-solid fa-floppy-disk"></i>
        {{$root.lang.data.save}}
      </button>

      <!-- Mégsem (gomb) -->
      <button type="button"
              class="btn btn-primary"
              ng-disabled="profile_form.$invalid"
              ng-click="cancel_update()">
        <i class="fa-solid 
                  fa-circle-xmark"></i>
        {{$root.lang.data.cancel}}
      </button>
    </form>
  </div>
</div>