<div class="container">
  <div class="row my-3">
  
    <div class="row text-center mb-3">
      <h1>
        <i class="fa-solid fa-code"></i>
        {{$root.lang.data.aboutOurProgrammers}}
      </h1>
    </div>

    <!-- Cards -->
    <div class="card text-center col-sm-6 mb-4 mb-sm-0"
         ng-repeat="website_creator in programmers track by $index">
      
      <!-- Card header -->
      <div class="card-header">

        <!-- Weboldalunk fejlesztőinek neve -->
        <h1 class="text-center">
          {{website_creator.nev}}
        </h1>
      </div>

      <!-- Card body -->
      <div class="card-body">
        <!-- Weboldalunk fejlesztőinek képe -->
        <img ng-src="./img/fejlesztok/{{website_creator.kep}}" 
             class="card-img-top" 
             alt="{{website_creator.nev}}">

        <!-- Weboldalunk fejlesztőinek a projektben történő feladatköre  -->
        <h5 class="card-title">
          {{$root.lang.data[website_creator.munkanev]}}
        </h5>

        <!-- Weboldalunk fejlesztőinek szakmája -->
        <h4 class="card-text text-start">
          {{$root.lang.data.profession_title}}: 
          <span class="not_bold fs-6 text-center">
            {{$root.lang.data[website_creator.profesion]}}
          </span>
        </h4>

        <!-- Weboldalunk fejlesztőiről röviden -->
        <h4 class="card-text text-start">
          {{$root.lang.data.about_small_title}}: 
          <span class="not_bold fs-6 text-center">
            {{$root.lang.data[website_creator.rolaroviden]}}
          </span>
        </h4>

        <!-- Több információ (gomb) -->
        <a href="#" 
           class="btn btn-primary"
           data-bs-toggle="modal"
           data-bs-target="#modal{{website_creator.id}}">
           <i class="fa-solid fa-scroll"></i> 
            {{$root.lang.data.moreInformation}}
        </a>
      </div>

      <!-- Card footer -->
      <div class="card-footer text-body-secondary">
        <!-- Weboldalunk fejlesztőinek születési idelye -->
        <i class="fa-solid fa-calendar"></i> 
        {{$root.lang.data.bornIn}}: 
        {{website_creator.szuletesiev}}
      </div>
    </div>

    <!-- Modals -->
    <div ng-repeat="x in programmers">
      <!-- Modal -->
      <div class="modal fade" 
           id="modal{{x.id}}" 
           data-bs-backdrop="static" 
           data-bs-keyboard="false" 
           tabindex="-1" 
           aria-labelledby="staticBackdropLabel" 
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" 
                  id="staticBackdropLabel">
                {{x.nev}}
              </h1>
              <button type="button" 
                      class="btn-close" 
                      data-bs-dismiss="modal" 
                      aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-4">
                    <img ng-src="./img/fejlesztok/{{x.kep}}" 
                         class="img-fluid"
                         alt="{{x.nev}}">
                  </div>
                  <div class="col-sm-8">
                    <p>
                      {{$root.lang.data[x.rola]}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" 
                      class="btn btn-primary" 
                      data-bs-dismiss="modal">
                {{$root.lang.data.close}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>